{% extends "base.html" %}
{% set active_page = "add" %}

{% block title %}Add Items{% endblock %}

{% block content %}
<div class="ui middle aligned stackable grid container">
	<div class="row">
		<div class="column">
			<h1>Add items</h1>
			<form action="" method="post">
				{{ form.hidden_tag() }}
				<p>
					{{ form.item.label }}<br>
					{{ form.item(size=16) }}
				</p>
				<p>
					{{ form.quant.label }} <br>
					{{ form.quant(size=16) }}
				</p>
				<p>{{ form.submit() }}</p>
			</form>
		</div>
	</div>
</div>
{% endblock %}