{% extends "base.html" %}
{% set active_page = "add" %}

{% block title %}Add Items{% endblock %}

{% block content %}
<div class="ui middle aligned stackable grid container">
	<div class="row">
		<div class="column">
			<h1>Add items</h1>
			<form action="" method="post" class="ui form">
				{{ form.hidden_tag() }}
				<div class="field">
					<label>{{ form.item.label }}</label>
					{{ form.item(size=16, value=def_i) }}
				</div>
				<div class="field">
					<label>{{ form.quant.label }}</label>
					{{ form.quant(size=16) }}
				</div>
				<p>{{ form.submit() }}</p>
			</form>
		</div>
	</div>
</div>
{% endblock %}