{% extends 'base.html' %}
{% set active_page = "index" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="ui middle aligned stackable grid container">
	<div class="row">
		<div class="eight wide column">
			<h3 class="ui header">Reducing household food waste!</h3>
          	<p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
          	<h3 class="ui header">A new way to meal prep!</h3>
          	<p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
		</div>
		<div class="six wide right floated column">
			<img src="../static/images/white-image.png" class="ui large bordered rounded image">
		</div>
	</div>
</div>
{% endblock %}