{% extends 'base.html' %}
{% set active_page = "index" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="ui middle aligned stackable grid container">
	<div class="row">
		<div class="eight wide column">
			<h3 class="ui header">Reducing household food waste!</h3>
          	<p>We help you keep track of your produce and easily perishable food, so you never have
          	to worry about something spoiling ever again.</p>
          	<h3 class="ui header">A new way to meal prep!</h3>
          	<p>Having all your food and ingredients entered and sorted, you can make better judgements
          	on what meal to make next.</p>
		</div>
		<div class="six wide right floated column">
			<img src="{{ url_for('static',filename='fridge.png') }}" class="ui large bordered rounded image"
				 style="max-height: 500px; border: 0px !important;">
		</div>
	</div>
</div>
{% endblock %}