{% extends "base.html" %}
{% set active_page = "login" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="ui middle aligned stackable grid container">
    <div class="row">
        <div class="column">
            <h1>Log In</h1>
            <form action="" method="post" class="ui form" novalidate>
            {{ form.hidden_tag() }}
            <div class="field">
                <label>{{ form.username.label }}</label>
                {{ form.username(size=32) }}
            </div>
            <div class="field">
                <label>{{ form.password.label }}</label>
                {{ form.password(size=32) }}
            </div>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>   
{% endblock %}