{% extends "base.html" %}
{% set active_page = "view" %}

{% block title %}View Items{% endblock %}

{% block content %}
<div class="ui middle aligned stackable grid container">
	<div class="row">
		<div class="column">
			<h1>View items</h1><br>
			<table class="ui very padded table">
				<thead>
					<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Purchased</th>
						<th>Expiration</th>
						<th class="center aligned">Use/Donate</th>
					</tr>
				</thead>
				<tbody>
					{% for item in fridges %}
					<tr id="tr{{ item.id }}">
						<td>{{ item.item }}</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.timestamp.strftime('%m-%d-%Y') }}</td>
						<td>{{ item.expiration.strftime('%m-%d-%Y') }}</td>
						<td class="center aligned">
							<button class="ui compact icon button" onclick='discardRow("{{ item.id }}");'>
  							<i class="utensils icon"></i>
							</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </div>
</div>
<script>
	function discardRow(rowID) {
		var xhttp = new XMLHttpRequest();
  		xhttp.onreadystatechange = function() {
    		if (this.readyState == 4 && this.status == 200) {
      			document.getElementById("tr"+rowID).innerHTML = "";
    		}
  		}
  		xhttp.open("POST", "/delete", true);
  		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send("id="+rowID); 
	}
</script>
{% endblock %}