{% extends "base.html" %}
{% set active_page = "addbyimg" %}

{% block title %}Add by Image{% endblock %}

{% block content %}
<div class="ui two column stackable grid container">
    <div class="row">
        <div class="column">
          <h1>Take photo from webcam:</h1>
          <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
          <p>
            <button onclick="startWebcam();">Initialize</button>
            <button onclick="snapshot();">Capture</button>
            <button onclick="stopWebcam();">Stop</button>  
          </p>
        </div>
        <div class="column">
          <h1>Snapshot: </h1><br><br>
          <canvas id="myCanvas" width="400" height="300"></canvas><br><br><br>
          <form action="" method="POST">
            <h2>
            <input type="text" name="img" id="i1" value="">
            <input type="button" id="test" value="Submit">
            </h2>
          </form>
        </div>
    </div>
</div>
<div class="ui modal test">
  <i class="close icon"></i>
  <div class="header">
    Image Classification
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img id="useThis" src="">
    </div>
    <div class="description">
      <div class="ui header" id="answer">Loading...</div>
      <p>The photo was sent to Clarifai for classification</p>
      <p>Was the classification correct? (Enter a quantity if so.)</p>
      <div class="field">
        <label>Quantity:</label>
        <input type="text" name="quant" id="q1" value="1">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yes, use it!
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<script>
  $(function(){
  $("#test").click(function(){
    $(".test").modal('show');
    var myImg = $("#i1").val();
    $.post("/ai", {img: myImg}, function(data) {
      $("#answer").html("IDENTIFIED: "+data);
      $("#useThis").attr("src", myImg)
    });
  });
  $(".test").modal({
    closable: true
  });
});
</script>
  <script>
      //--------------------
      // GET USER MEDIA CODE
      //--------------------
          navigator.getUserMedia = ( navigator.getUserMedia ||
                             navigator.webkitGetUserMedia ||
                             navigator.mozGetUserMedia ||
                             navigator.msGetUserMedia);

      var video;
      var webcamStream;

      function startWebcam() {
        if (navigator.getUserMedia) {
           navigator.getUserMedia (

              // constraints
              {
                 video: true,
                 audio: false
              },

              // successCallback
              function(localMediaStream) {
                  video = document.querySelector('video');
                 video.src = window.URL.createObjectURL(localMediaStream);
                 webcamStream = localMediaStream;
              },

              // errorCallback
              function(err) {
                 console.log("The following error occured: " + err);
              }
           );
        } else {
           console.log("getUserMedia not supported");
        }  
      }

      function stopWebcam() {
          webcamStream.stop();
      }
      //---------------------
      // TAKE A SNAPSHOT CODE
      //---------------------
      var canvas, ctx;

      function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
      }

      function snapshot() {
         // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0,0, canvas.width, canvas.height);
        var dataURL = canvas.toDataURL('image/png');
        document.getElementById('i1').value = dataURL;
      }
  </script>
{% endblock %}